:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --primary-bg-color: #F5F5F5;
  --secondary-bg-color: #F5F4FA;
  --hero-footer-bg-color: #2F303A;
  --contacts-footer-color: rgba(255, 255, 255, 0.6);
  --footer-icons-bg-color: rgba(255, 255, 255, 0.1);
  --primary-color: #fff;
  --logo-color: #000;
  --header-border-color: #ECECEC;
  --hero-overlay-bg-color: #C4C4C4;
  --work-bg-color: rgba(47, 48, 58, 0.8);
  --net-icons-color: #AFB1B8;
  --subscription-form-border-color: rgba(255, 255, 255, 0.3);
  --portfolio-card-border: #eee;
  --portfolio-overlay-bg-color: rgba(33, 150, 243, 0.9);
  --backdrop-bg-color: rgba(0, 0, 0, 0.2);
  --primary-font: Roboto, sans-serif;
  --logo-font: Raleway, sans-serif;
}

body {
  color: var(--primary-text-color);
  font-family: var(--primary-font);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
p,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.page-header {
  background-color: var(--primary-color);
  border-bottom: 1px solid var(--header-border-color);
}

.header-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav {
  display: none;
}
.site-nav .site-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav .site-nav__item:not(:last-child) {
  margin-right: 50px;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contacts-header {
  display: none;
  padding-top: 21px;
  padding-bottom: 21px;
}
@media screen and (min-width: 768px) {
  .contacts-header {
    display: block;
    margin-left: auto;
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .contacts-header .site-nav__item:not(:last-child) {
    margin-right: 30px;
  }
}

.site-nav__link {
  display: block;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}
.site-nav__link--active {
  color: var(--accent-color);
  position: relative;
}
.site-nav__link--active::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.site-nav__link-contacts {
  color: var(--primary-text-color);
}
@media screen and (min-width: 768px) {
  .site-nav__link-contacts {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav__link-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contacts-header__icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover .contacts-header__icon {
  fill: var(--accent-color);
}
.site-nav__link:focus .contacts-header__icon {
  fill: var(--accent-color);
}

.logo {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 24px;
  line-height: 1.17;
  color: var(--accent-color);
  font-family: var(--logo-font);
  font-weight: 700;
}
.logo .logo-header {
  color: var(--logo-color);
}
.logo .logo-footer {
  color: var(--primary-color);
}
@media screen and (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.overlay {
  max-width: 480px;
  height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-overlay-bg-color);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-480.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-480.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .overlay {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    max-width: 768px;
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .overlay {
    background-image: url("../images/hero-480@2x.jpg");
  }
}
@media (min-width: 481px) {
  .overlay {
    background-image: url("../images/hero-768.jpg");
  }
}
@media (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 481px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: url("../images/hero-768@2x.jpg");
  }
}
@media (min-width: 769px) {
  .overlay {
    background-image: url("../images/hero-1600.jpg");
  }
}
@media (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 769px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: url("../images/hero-1600@2x.jpg");
  }
}
.hero-title {
  width: 360px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: var(--primary-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero-title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-button {
  display: block;
  min-width: 200px;
  padding: 10px 24px;
  border-radius: 4px;
  border: 1px solid transparent;
  margin: auto;
  color: var(--primary-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .hero-button {
    min-width: 216px;
    padding: 10px 32px;
  }
}

.section-advantages {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primary-color);
}
@media screen and (min-width: 1200px) {
  .section-advantages {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.advantages-list__item {
  width: 450px;
}
.advantages-list__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .advantages-list__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
    width: 270px;
  }
}

.advantages-list__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--secondary-bg-color);
}

.advantages-list__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantages-list__text {
  font-size: 14px;
  line-height: 1.71;
}

.section-work {
  display: none;
}
@media screen and (min-width: 1200px) {
  .section-work {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 94px;
    background-color: var(--primary-color);
  }
}

.section-work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section-work__item {
  position: relative;
}
.section-work__item:not(:last-child) {
  margin-right: 30px;
}

.section-work__title {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  padding-top: 27px;
  height: 70px;
  width: 100%;
  background: var(--work-bg-color);
  color: var(--primary-color);
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
}

.staff-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bg-color);
}
@media screen and (min-width: 1200px) {
  .staff-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .staff-section__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.staff-section__item {
  width: 450px;
  height: 460px;
  background-color: var(--primary-color);
}
.staff-section__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .staff-section__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .staff-section__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
    width: 270px;
    height: 260px;
  }
}

.staff-item__description {
  padding-top: 30px;
  padding-bottom: 24px;
}

.staff-section__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.staff-section__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.net-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 0;
  gap: 10px;
}

.net-list__link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: var(--primary-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.net-list__link:hover, .net-list__link:focus {
  background-color: var(--accent-color);
}

.net-list__icon {
  fill: var(--net-icons-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.net-list__link:hover .net-list__icon {
  fill: var(--primary-color);
}
.net-list__link:focus .net-list__icon {
  fill: var(--primary-color);
}

/* 


@import './components/modal';


@import './components/net-list';
@import './components/clients-section';
@import './components/footer';
@import './components/portfolio-section'; *//*# sourceMappingURL=main.css.map */